<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/comida-saudavel.png">

    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/register.css" />
    <script src="~/js/register.js"></script>
    <title>Merenda Inteligiente</title>
</head>

<body>
    <div class="container">
        <div class="card">
            <h1>Cadastrar-se</h1>

            <div class="label-float">
                <input type="text" id="nome" placeholder="" required>
                <label for="nome">Nome</label>

            </div>

            <div class="label-float">
                <input type="text" id="usuario" placeholder="" required>
                <label id="userLabel" for="usuario">Email</label>

            </div>

            <div class="label-float">
                <input type="password" id="senha" placeholder="" required>
                <label id="senhaLabel" for="senha">Senha</label>
                <i class="fa fa-eye" aria-hidden="true"></i>
            </div>

            <div class="label-float">
                <input type="password" id="confirmsenha" placeholder="" required>
                <label id="senhaLabel" for="senha">Confirmar Senha</label>
                <i class="fa fa-eye" aria-hidden="true"></i>
            </div>

            <div class="justify-center">
                <a class="botao">Cadastrar</a>
            </div>
            <div class="justify-center">
                <hr>
            </div>
        </div>
    </div>
</body>

</html>