body {
    margin: 68px;
}

th {
    text-align: center;
}

.glyphicon {
    margin-right: 10px;
}

.crud-table {
    max-width: 1058px;
    padding: 30px 0;
}

.form-alert {
    margin-top: 10px;
}

.form-inline {
    margin-bottom: 20px;
}

.green-icon {
    color: green;
}

.red-icon {
    color: red;
}
